{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>
	<link rel="stylesheet" href="{% static 'css/contact.css' %}">

</head>
<body>
	<div class="container">
	<div class="front side">
		<div class="content">
			<h1>Shokir Begbotov</h1>
			<p>Men web developerman. Web sahifalarning frontend va backend qismlarini yaratish bilan shug'ullanaman.
				Bu maktab saytini ham buyurtma asosida tayyorlaganman. Sayt bilan bog'liq muammo yoki taklif bo'lsa , aloqaga
				chiqishingiz mumkin.
			</p>
		</div>
	</div>
	<div class="back side">
		<div class="content">
			<h1>Aloqa</h1>
			<form>
				<label>Ism :</label>
				<input type="text" placeholder="Aliyev Vali">
				<label>E-mail :</label>
				<input type="text" placeholder="Example@mail.com">
				<label>Xabar :</label>
				<textarea placeholder="The Subject"></textarea>
				<input type="submit" value="Done">
			</form>
		</div>
	</div>

</div>
<a target="_blank" href="http://codepen.io/Moslim/" class="white-mode">OTHER PENS</a>

	
</body>
</html>