{% extends 'base.html' %}
{% load static %}
{% block content %}

		<div class="col-6">
			<h3>Fanlar</h3>
			<hr>
			<div class="row justify-content-center">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top p-3" src="{% static 'img/men.jpg' %}" alt="Card image cap">
				  <div class="card-body">
				    <p class="card-title">Rahmonqulov Muhammad</p>
				    <p class="card-text"><b>Maktab direktori</b></p>
				    <p class="card-text">2018-yildan buyon maktabda rahbar lavozimida ishlab keladi.</p>
				  </div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top p-3" src="{% static 'img/men.jpg' %}" alt="Card image cap">
				  <div class="card-body">
				    <p class="card-title">Bahrom Karimov</p>
				    <p class="card-text"><b>O'quv ishlari bo'yicha o'rinbosar.</b></p>
				    <p class="card-text">2018-yildan buyon maktabda rahbar o'rinbosari lavozimida ishlab keladi.</p>
				  </div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top p-3" src="{% static 'img/men.jpg' %}" alt="Card image cap">
				  <div class="card-body">
				    <p class="card-title">Toyir Hamroyev</p>
				    <p class="card-text"><b>Ma'naviy-marifiy ishlar bo'yicha o'rinbosar</b></p>
				    <p class="card-text">2018-yildan buyon maktabda rahbar rinbosari lavozimida ishlab keladi.</p>
				  </div>
				</div>
			</div>


		</div>

{% endblock content %}	